@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: visible;
    background: url('https://images.pexels.com/photos/1423600/pexels-photo-1423600.jpeg?cs=srgb&dl=pexels-johannes-plenio-1423600.jpg&fm=jpg') center/cover fixed no-repeat;
}

.navbar {
    font-size: 20px;
    background-color: #9AB98D;
    font-style:italic;
    font-weight:bold;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;#9AB98Dicon_
}

.icon_navbar{
    background-color: #bfeeaa;
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    max-height: 50px;
    margin-right: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 16px;
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

a:hover{
    color: white;
}

.icons{
    display: none;
    position: relative;
}

.empty{
    padding-top: 10px;
}

.carbon_input {
    color: #BFEEAA;
    border-radius: 10px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}

.input_box {
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(154, 185, 141, 0.6); /* Semi-transparent background */
    color: black;
    border: none;
    padding: 12px 24px;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    backdrop-filter: blur(10px); /* Adjust the blur value for the frosted effect */
}

.input_box:focus {
    outline: none;
    box-shadow: 0 0 30px rgba(220, 247, 181, 0.8);
    backdrop-filter: none; /* Remove backdrop-filter on focus to avoid issues */
}

.input_box:hover {
    transform: scale(1.03); /* Adjust the scale factor as needed */
    box-shadow: 0 0 30px rgba(220, 247, 181, 0.8);
    backdrop-filter: blur(10px); /* Reapply backdrop-filter on hover */
}

.input_button {
    font-size: 30px;
    background-color: rgba(179, 218, 162, 0.6); /* Semi-transparent background */
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    backdrop-filter: blur(10px); /* Adjust the blur value for the frosted effect */
}

.input_button:hover {
    background-color: rgba(140, 167, 132, 0.6); /* Semi-transparent background on hover */
    transform: scale(1.03); /* Adjust the scale factor as needed */
    box-shadow: 0 0 30px rgba(220, 247, 181, 0.8);
}


.carbon_button{
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border-radius: 10px;
    background-color: #bfeeaa;
    border: none;
    font-size: 20;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

h2{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.history::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.history:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.history::before {
  content: " ";
  display: block;
  border-radius: 30px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(254, 249, 226, 0.6);
  z-index: -1;
  transition: transform .3s ease;
}

.history {
    border-radius: 30px;
    border: 1.5px solid;
    border-color: #FEF9E2;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(254, 249, 226, 0.6); /* Semi-transparent background */
    width: 80%;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    backdrop-filter: blur(10px); /* Adjust the blur value for the frosted effect */
}

.history:hover {
    transform: scale(1.03); /* Adjust the scale factor as needed */
    box-shadow: 0 0 30px rgba(220, 247, 181, 0.8);
}

.history2{
    border-radius: 30px;
    border: 1px solid;
    border-color: #bfeeaa;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #bfeeaa;
    width: 80%;
    text-align:center;
}
@media screen and (max-width: 650px) {
    body {
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 0px;
    }
    
    .icon_navbar{
        background-color: #BDD7FF;
        padding: 15px;
        display:block;
    }

    .links {
        display: none;
    }
    .logo{
        display: none;
    }
    .index_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    .icons{
        display: flex;
        justify-content: space-evenly;
    }

    .overlay {
        position: absolute;
        font-size: 50px;
        top: -13%;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}
