@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: visible;
}

.navbar {
    font-size: 20px;
    background-color: #BDD7FF;
    font-style:italic;
    font-weight:bold;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_navbar{
    background-color: #BDD7FF;
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    max-height: 50px;
    margin-right: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 16px;
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

a:hover{
    color: grey;
}

.icons{
    display: none;
    position: relative;
}

.overlay{
    
}

input{
    border-radius: 10px;
    padding:5px;
}

.carbon_input{
    padding-left: 25px;
}

.carbon_button{
    padding-top: 2px;
    padding-left: 25px;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    background-color: #BDD7FF;
    border: none;
    font-size: 20;
    color: #3383FF;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
  }

h2{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 0px;
    }
    
    .icon_navbar{
        background-color: #BDD7FF;
        padding: 15px;
        display:inline;
    }

    .links {
        display: none;
    }
    .logo{
        display: none;
    }
    .shopping_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    .icons{
        display: flex;
        justify-content: space-evenly;
    }

    .overlay {
        position: absolute;
        font-size: 50px;
        top: -13%;
        width: 50px;
        height: 50px;
        color:white;
        background-color: white;
        opacity: 0;
    }
}
