<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{url_for('static', filename='favicon.png')}}">
            <span>CarbonSense</span>
        </div>
        <div class="links">
            <a href="/" class="link">Carbon Calculator</a>
            <a href="#" class="link">Household Utilities</a>

            <a href="/transit" class="link">Transit</a>
        </div>
    </div>

<!--
    <div class="icons">
        <div class="container" style="width:80%; height:80%; border:10px dotted black;">
            <img src="{{url_for('static', filename='bus.svg')}}" style="width:25%" class="icon">
        </div>
        <div class="container" style="width:80%; height:80%; border:0px;">
            <img src="{{url_for('static', filename='lightbulb.svg')}}" style="width:25%" class="icon">
        </div>
        <div class="container" style="width:80%; height:80%; border:0px;">
            <img src="{{url_for('static', filename='shopping-cart.svg')}}" style="width:25%" class="icon">
        </div>
    </div>
-->

{% block content %}{% endblock %}

</body>
</html>
