<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{url_for('static', filename='favicon.png')}}">
            <span>CarbonSense</span>
        </div>
        <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/game" class="link">Game</a>
            <a href="/transit" class="link">Commute Assist</a>
        </div>
    </div>

    </div>

{% block content %}{% endblock %}

</body>
</html>
