<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense | Game </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="index_body">
        <div class="empty">

        </div>
        <h2>Guess which item produces more carbon emissions!</h2>

        <div>
            <h2>1. {{amt_of_one}}x {{object_one}}</h2>
        </div>
        <div>
            <h2>2. {{amt_of_two}}x {{object_two}}</h2>
        </div>
        <div>
            <div class="game_buttons">
                <form action="" method="post">
                    <input class="input_button" type="submit" name="one" value="select #1"/>
                    <input class="input_button" type="submit" name="two" value="select #2"/>
                </form>
            </div classs="game_buttons">
        </div>
        <div>
            <h2>{{result}} - {{amt_of_one}}x {{object_one}} produced {{total_one}}kg of CO2 and {{amt_of_two}}x {{object_two}} produced {{total_two}}kg of CO2!</h2>
        </div>
    {% endblock %}
</body>
</html>
