<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

    <div class="shopping_body">
        <div class="carbon_calculator">
            <form method="post" action="/">
                <div>
                    <div class="carbon_input">
                        <input class = "input" type="text" id="item" name="item" placeholder = " Item" required>
                    </div>
                    <div class="carbon_button">
                        <button type="submit">Search!</button>
                    </div>
                </div>
            </form>
        </div>
    <ul>
        {% for item in history %}
            <p>
                {{ item['item'] }} - Quantity: {{ item['quantity'] }}<br>
                Carbon Cost: {{ item['total_carbon_emissions_kg'] }} kg - ({{ item['individual_carbon_emissions_kg'] }} kg per)<br>
                Trivia: {{ item['trivia'] }}<br>
            </p>
        {% endfor %}
    </ul>
    </div>
    {% endblock %}

</body>
</html>
