<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

    <div class="index_body">
        <div class="empty">

        </div>
            <form method="post" action="/">
                    <div class="carbon_input">
                        <input class = "input_box" type="text" id="item" name="item" placeholder = " Item" required>
                        <button type="submit">Search!</button>
                    </div>
            </form>
    <ul>
        {% for item in history %}
            <div class = "history">
                <p>
                    {{ item['item'] }} - Quantity: {{ item['quantity'] }}<br>
                    Carbon Cost: {{ item['total_carbon_emissions_kg'] }} kg - ({{ item['individual_carbon_emissions_kg'] }} kg per)<br>
                    Trivia: {{ item['trivia'] }}<br>
                </p>
            </div>
        {% endfor %}
    </ul>
    </div>

    <div class="icon_navbar">
        <div class="icons">
            <div id="shopping_cart">
                <object data="{{url_for('static', filename='shopping-cart.svg')}}" width="50" height="50" ></object>
                <div class="overlay">
                    <a href="/shopping">m</a>
                </div>
            </div>
            <div id="home">
                <object data="{{url_for('static', filename='home.svg')}}" width="50" height="50"></object>
                <div class="overlay">
                    <a href="/">m</a>
                </div>
            </div>
            <div id="bus">
                <object data="{{url_for('static', filename='bus.svg')}}" width="50" height="50"></object>
                <div class="overlay">
                    <a href="/transit">m</a>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}

</body>
</html>
