<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense | Shopping Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
    
    <div class="shopping_body">
    <h2>Total Carbon Emissions: {{ total_carbon_emissions }} kg</h2>
        <div>
            <form method="post" action="/shopping">
                <input class = input type="text" id="item" name="item" placeholder = "item" required>
                <input class = input type="number" id="quantity" name="quantity" min="1" placeholder="quantity" required>

                <button type="submit">Add to Shopping List</button>
            </form>
        </div>
    <h2>Your Shopping List</h2>
    <ul>
        {% for item in shopping_list %}
            <li>
                {{ item['item'] }} - Quantity: {{ item['quantity'] }}
                <form method="post" action="/remove_item">
                    <input type="hidden" name="item_to_remove" value="{{ item['item'] }}">
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Parsed Shopping List</h2>
    {% if shopping_list_parsed %}
        <ul>
            {% for item in shopping_list_parsed %}
                <li>
                    {{ item['item'] }} - Quantity: {{ item['quantity']}} - Carbon Cost: {{ item['total_carbon_emission_kg'] }} kg
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No parsed items available.</p>
    {% endif %}

    <a href="{{ url_for('get_json') }}">Get JSON</a>

        <div class="icon_navbar">
            <div class="icons">
                <object data="{{url_for('static', filename='shopping-cart.svg')}}" width="50" height="50"></object>
                <object data="{{url_for('static', filename='lightbulb.svg')}}" width="50" height="50"></object>
                <object data="{{url_for('static', filename='bus.svg')}}" width="50" height="50"></object>
            </div>
        </div>


        

        </div>
        {% endblock %}

</body>
</html>
