<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense | Transit Helper </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    {% block content %}
    <h1>Route Estimation - Result</h1>
    <p>Distance: {{ distance }}</p>
    <p>Decoded Route: {{ decoded_route }}</p>
    <p>Carbon Emission Estimate: {{ carbon_emission_estimate }} kgCO2</p>
    <p>Suggested Transit Route: {{ transit_route }}</p>
    {% endblock %}
</body>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCMPdLpbgwvxDXT02Fwk8mqHfNPqop6rxk&origin=Oslo+Norway&destination=Telemark+Norway&avoid=tolls|highways"
  >  
</iframe>
</html>
