<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense | Transit Helper </title>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }

        h1, h2, p {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
        <a href="/HOME">go home</a>
    {% endblock %}
</body>
</html>