<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Sense | Transit Helper </title>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        font-family: 'Poppins', sans-serif;
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Route Estimation - Result</h1>
    <p>Distance: {{ distance }}</p>
    <p>Decoded Route: {{ decoded_route }}</p>
    <p>Carbon Emission Estimate: {{ carbon_emission_estimate }} kgCO2</p>
    <p>Suggested Transit Route: {{ tr
        ansit_route }}</p>
    {% endblock %}
</body>
</html>
